@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: unset;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 26px;
}

/* Body */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg);
}

* {
    font-family: 'Nunito', sans-serif;
    color: var(--default-color-active);
    transition: all .5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style: none;
}

:root {
    --bg: #f0f8ff;
    --default-color-active: #000000;
    --default-color: #070707;
    --stroke: rgba(151, 151, 151, 0.87);
    --primary: rgb(66, 255, 98);
    --default-shadow: rgb(41, 41, 41);
    --default-card: #fff;
}

section {
    margin-top: 125px;
}

/* Header */

.header {
    background-color: var(--bg);
    width: 100%;
    box-shadow: 0 0.5px 8px var(--default-shadow);
}

.header .container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu {
    margin-left: auto;
}

.menu ul {
    display: flex;
}

.menu-item a {
    text-decoration: none;
    font-size: 17px;
    color: var(--default-color);
    font-weight: 500;
}

.menu-item {
    margin-right: 40px;
}
@media (max-width: 360px) {
    .menu-item {
        margin-right: 8px;
    }
}

.menu-item.active a {
    font-weight: bold;
    color: var(--default-color-active);
}

.logo img {
    border: 1px solid var(--stroke);
    width: 60px;
    border-radius: 50%;
}


#theme {
    border: 0;
    outline: 0;
    background-color: unset;
    cursor: pointer;
    align-items: center;
}
