@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap')
  
:root {
    --bg: #f0f8ff;
    --default-color-active: #000000;
    --default-color: #0a0506;
    --stroke: rgba(151, 151, 151, 0.87);
    --primary: rgb(66, 255, 98);
    --default-shadow: rgb(41, 41, 41);
    --default-card: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  overflow: hidden;
}
.container{
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8
}
nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
}
.logo{
  display: flex;
  font-size: 40px;
  font-weight:800;
  color: #3d535f;
  cursor: pointer;
  text-transform: uppercase
}
b{
  font-size: 70px;
  color: #63FF62;
}
.navItems{
 display: flex;
}
.navItems li{
 margin: 0 15px;
}
.navItems li a{
  font-size: 25px;
  color: rgb(61, 83, 95);
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
.navItems li a:hover,
.links a:hover{
    color: rgb(66, 255, 98);
}
.links a{
    font-size: 30px;
    color: rgb(61, 83, 95);
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    bottom: 10px;
    background-color: rgb(66, 255, 98);
}
h1{
  display: block;
  font-size: 7em;
  font-weight: 900;
  color: #3d535f;
}
.multitext{
  color:rgb(66, 255, 98);
  text-transform: capitalize;
}
p{
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #3d535f;
}
.btns{
  width: 100%;
  position: relative;
  left: 150px
}
button{
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px rgba(0,0,0,0.4);
}
button:hover{
  background-color: rgb(66, 255, 98);
}
.imgbox{
  position: relative;
  width: 100%;
  height: 100%;
}