@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap')

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  overflow: hidden;
}
.container{
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8l
}
