@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap')
  
:root {
    --bg: #f0f8ff;
    --default-color-active: #000000;
    --default-color: #070707;
    --stroke: rgba(151, 151, 151, 0.87);
    --primary: rgb(66, 255, 98);
    --default-shadow: rgb(41, 41, 41);
    --default-card: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  overflow: hidden;
}
.container{
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8l
}
nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
  background-color: red;
}
.logo{
  display: flex;
  font-size: 40px;
  font-weight:800;
  color: #3d535f;
  cursor: pointer;
  text-transform: uppercase
}
b{
  font-size: 70px;
  color: #63FF62;
}
.navItems{
 display: flex;
}
.navItems li{
 margin: 0 15px;
}
.navItems li a{
  font-size: 25px
}
